.ff0{font-family:sans-serif;visibility:hidden;}
.ff1{font-family:sans-serif;visibility:hidden;}
.ff2{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.932129;font-style:normal;font-weight:normal;visibility:visible;}
.ff4{font-family:sans-serif;visibility:hidden;}
.ff5{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.973633;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.730957;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:0.730957;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff9;src:url(f9.woff)format("woff");}.ff9{font-family:ff9;line-height:0.730957;font-style:normal;font-weight:normal;visibility:visible;}
.ffa{font-family:sans-serif;visibility:hidden;}
.ffb{font-family:sans-serif;visibility:hidden;}
.ffc{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ffd;src:url(fd.woff)format("woff");}.ffd{font-family:ffd;line-height:0.932129;font-style:normal;font-weight:normal;visibility:visible;}
.ffe{font-family:sans-serif;visibility:hidden;}
.fff{font-family:sans-serif;visibility:hidden;}
.ff10{font-family:sans-serif;visibility:hidden;}
.ff11{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff12;src:url(f12.woff)format("woff");}.ff12{font-family:ff12;line-height:0.932129;font-style:normal;font-weight:normal;visibility:visible;}
.ff13{font-family:sans-serif;visibility:hidden;}
.ff14{font-family:sans-serif;visibility:hidden;}
.ff15{font-family:sans-serif;visibility:hidden;}
.ff16{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff17;src:url(f17.woff)format("woff");}.ff17{font-family:ff17;line-height:0.932129;font-style:normal;font-weight:normal;visibility:visible;}
.ff18{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff19;src:url(f19.woff)format("woff");}.ff19{font-family:ff19;line-height:0.958008;font-style:normal;font-weight:normal;visibility:visible;}
.ff1a{font-family:sans-serif;visibility:hidden;}
.ff1b{font-family:sans-serif;visibility:hidden;}
.ff1c{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1d;src:url(f1d.woff)format("woff");}.ff1d{font-family:ff1d;line-height:0.932129;font-style:normal;font-weight:normal;visibility:visible;}
.ff1e{font-family:sans-serif;visibility:hidden;}
.ff1f{font-family:sans-serif;visibility:hidden;}
.ff20{font-family:sans-serif;visibility:hidden;}
.ff21{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff22;src:url(f22.woff)format("woff");}.ff22{font-family:ff22;line-height:0.932129;font-style:normal;font-weight:normal;visibility:visible;}
.ff23{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff24;src:url(f24.woff)format("woff");}.ff24{font-family:ff24;line-height:0.963379;font-style:normal;font-weight:normal;visibility:visible;}
.ff25{font-family:sans-serif;visibility:hidden;}
.ff26{font-family:sans-serif;visibility:hidden;}
.ff27{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff28;src:url(f28.woff)format("woff");}.ff28{font-family:ff28;line-height:0.932129;font-style:normal;font-weight:normal;visibility:visible;}
.ff29{font-family:sans-serif;visibility:hidden;}
.ff2a{font-family:sans-serif;visibility:hidden;}
.ff2b{font-family:sans-serif;visibility:hidden;}
.ff2c{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff2d;src:url(f2d.woff)format("woff");}.ff2d{font-family:ff2d;line-height:0.932129;font-style:normal;font-weight:normal;visibility:visible;}
.ff2e{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff2f;src:url(f2f.woff)format("woff");}.ff2f{font-family:ff2f;line-height:1.031738;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff30;src:url(f30.woff)format("woff");}.ff30{font-family:ff30;line-height:0.781738;font-style:normal;font-weight:normal;visibility:visible;}
.ff31{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff32;src:url(f32.woff)format("woff");}.ff32{font-family:ff32;line-height:0.932129;font-style:normal;font-weight:normal;visibility:visible;}
.ff33{font-family:sans-serif;visibility:hidden;}
.ff34{font-family:sans-serif;visibility:hidden;}
.m1{transform:matrix(0.000000,-0.375000,0.375000,0.000000,0,0);-ms-transform:matrix(0.000000,-0.375000,0.375000,0.000000,0,0);-webkit-transform:matrix(0.000000,-0.375000,0.375000,0.000000,0,0);}
.m0{transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);-ms-transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);-webkit-transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);}
.m2{transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);-ms-transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);-webkit-transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc2{color:transparent;}
.fc3{color:rgb(0,191,99);}
.fc1{color:rgb(196,32,32);}
.fc4{color:rgb(84,84,84);}
.fc0{color:rgb(0,0,0);}
.fs10{font-size:58.614847px;}
.fse{font-size:69.990000px;}
.fs6{font-size:73.980000px;}
.fsd{font-size:76.770000px;}
.fs9{font-size:76.889997px;}
.fsf{font-size:77.159997px;}
.fs11{font-size:82.284911px;}
.fs3{font-size:85.980000px;}
.fs5{font-size:90.000000px;}
.fs8{font-size:96.769704px;}
.fs13{font-size:97.407491px;}
.fsb{font-size:99.990006px;}
.fs4{font-size:109.980000px;}
.fs1{font-size:127.980000px;}
.fsa{font-size:131.940000px;}
.fs2{font-size:149.160003px;}
.fs15{font-size:165.969650px;}
.fs16{font-size:191.593857px;}
.fs7{font-size:206.195856px;}
.fs14{font-size:211.980012px;}
.fs12{font-size:219.990006px;}
.fsc{font-size:240.000000px;}
.fs0{font-size:302.339997px;}
.fs17{font-size:426.300018px;}
.y0{bottom:0.000000px;}
.y24{bottom:83.731249px;}
.ya{bottom:121.500000px;}
.y21{bottom:168.032922px;}
.y2e{bottom:173.863466px;}
.y20{bottom:175.907914px;}
.y2d{bottom:176.559079px;}
.y23{bottom:176.892011px;}
.yb{bottom:214.156104px;}
.y2c{bottom:232.109321px;}
.y2b{bottom:234.804934px;}
.y1f{bottom:247.813992px;}
.y1e{bottom:255.688984px;}
.y22{bottom:257.215436px;}
.y2a{bottom:290.133791px;}
.y29{bottom:292.829404px;}
.y1d{bottom:327.595062px;}
.y1c{bottom:335.470054px;}
.y6{bottom:354.849619px;}
.y30{bottom:364.165579px;}
.y32{bottom:372.536464px;}
.y1b{bottom:407.376087px;}
.y1a{bottom:415.251109px;}
.y37{bottom:416.567325px;}
.y5{bottom:427.974615px;}
.y19{bottom:487.157142px;}
.y36{bottom:489.692321px;}
.y18{bottom:495.032179px;}
.y4{bottom:501.099611px;}
.y34{bottom:535.311143px;}
.y17{bottom:566.938212px;}
.y16{bottom:574.813249px;}
.y35{bottom:605.195038px;}
.y11{bottom:642.910403px;}
.y10{bottom:646.719282px;}
.yf{bottom:654.594274px;}
.y2{bottom:681.781245px;}
.y33{bottom:708.820178px;}
.y7{bottom:719.191313px;}
.yd{bottom:754.829743px;}
.ye{bottom:760.206429px;}
.y1{bottom:808.906239px;}
.yc{bottom:845.278788px;}
.y12{bottom:852.588111px;}
.y13{bottom:863.194501px;}
.y8{bottom:928.869021px;}
.y9{bottom:939.475411px;}
.y28{bottom:986.168727px;}
.y27{bottom:990.545165px;}
.y15{bottom:991.540869px;}
.y31{bottom:997.942629px;}
.y2f{bottom:998.045145px;}
.y3{bottom:1049.775002px;}
.y26{bottom:1094.734810px;}
.y14{bottom:1124.268158px;}
.y25{bottom:1131.859810px;}
.h11{height:43.961135px;}
.he{height:55.365864px;}
.h7{height:56.243584px;}
.ha{height:58.455921px;}
.h12{height:61.713684px;}
.hf{height:66.490500px;}
.h9{height:69.789479px;}
.hc{height:72.453696px;}
.h10{height:73.301997px;}
.h4{height:81.681000px;}
.h6{height:85.500000px;}
.h14{height:92.537117px;}
.h2{height:92.735508px;}
.hb{height:95.153994px;}
.h5{height:104.481000px;}
.h16{height:133.148503px;}
.h17{height:138.082291px;}
.h3{height:141.702003px;}
.h8{height:148.706680px;}
.h15{height:201.381011px;}
.h13{height:208.990506px;}
.hd{height:228.000000px;}
.h1{height:287.222997px;}
.h18{height:404.985017px;}
.h0{height:1215.000000px;}
.w0{width:2160.000000px;}
.x0{left:0.000000px;}
.xb{left:99.113423px;}
.xc{left:107.888403px;}
.x17{left:243.597749px;}
.x10{left:288.246825px;}
.xf{left:325.541295px;}
.x15{left:329.298915px;}
.x1{left:333.881925px;}
.x3{left:473.220660px;}
.x11{left:538.972545px;}
.xd{left:553.391714px;}
.xe{left:564.495459px;}
.x30{left:590.258686px;}
.x4{left:618.640461px;}
.x5{left:637.881659px;}
.x6{left:677.706480px;}
.x7{left:694.318769px;}
.x8{left:730.451945px;}
.x13{left:748.014720px;}
.x9{left:749.693159px;}
.x12{left:788.810115px;}
.xa{left:900.490470px;}
.x2c{left:904.856832px;}
.x2d{left:915.748128px;}
.x14{left:934.652160px;}
.x16{left:937.080822px;}
.x2{left:948.754298px;}
.x18{left:965.464576px;}
.x19{left:993.837078px;}
.x1a{left:1046.952570px;}
.x2e{left:1202.884568px;}
.x2f{left:1211.518861px;}
.x31{left:1359.600765px;}
.x20{left:1493.156156px;}
.x2b{left:1566.955440px;}
.x29{left:1586.107365px;}
.x1b{left:1594.946224px;}
.x1c{left:1605.837520px;}
.x2a{left:1637.183895px;}
.x21{left:1640.456775px;}
.x22{left:1650.409908px;}
.x23{left:1671.010578px;}
.x24{left:1679.603843px;}
.x25{left:1698.294900px;}
.x26{left:1708.248033px;}
.x1f{left:1776.937429px;}
.x27{left:1786.252851px;}
.x28{left:1794.846117px;}
.x1d{left:1892.973960px;}
.x1e{left:1901.608253px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs10{font-size:52.102086pt;}
.fse{font-size:62.213333pt;}
.fs6{font-size:65.760000pt;}
.fsd{font-size:68.240000pt;}
.fs9{font-size:68.346664pt;}
.fsf{font-size:68.586664pt;}
.fs11{font-size:73.142144pt;}
.fs3{font-size:76.426667pt;}
.fs5{font-size:80.000000pt;}
.fs8{font-size:86.017515pt;}
.fs13{font-size:86.584437pt;}
.fsb{font-size:88.880005pt;}
.fs4{font-size:97.760000pt;}
.fs1{font-size:113.760000pt;}
.fsa{font-size:117.280000pt;}
.fs2{font-size:132.586669pt;}
.fs15{font-size:147.528577pt;}
.fs16{font-size:170.305650pt;}
.fs7{font-size:183.285206pt;}
.fs14{font-size:188.426677pt;}
.fs12{font-size:195.546672pt;}
.fsc{font-size:213.333333pt;}
.fs0{font-size:268.746664pt;}
.fs17{font-size:378.933349pt;}
.y0{bottom:0.000000pt;}
.y24{bottom:74.427777pt;}
.ya{bottom:108.000000pt;}
.y21{bottom:149.362598pt;}
.y2e{bottom:154.545303pt;}
.y20{bottom:156.362590pt;}
.y2d{bottom:156.941404pt;}
.y23{bottom:157.237343pt;}
.yb{bottom:190.360981pt;}
.y2c{bottom:206.319397pt;}
.y2b{bottom:208.715497pt;}
.y1f{bottom:220.279104pt;}
.y1e{bottom:227.279097pt;}
.y22{bottom:228.635943pt;}
.y2a{bottom:257.896703pt;}
.y29{bottom:260.292804pt;}
.y1d{bottom:291.195611pt;}
.y1c{bottom:298.195603pt;}
.y6{bottom:315.421883pt;}
.y30{bottom:323.702737pt;}
.y32{bottom:331.143523pt;}
.y1b{bottom:362.112078pt;}
.y1a{bottom:369.112097pt;}
.y37{bottom:370.282067pt;}
.y5{bottom:380.421880pt;}
.y19{bottom:433.028571pt;}
.y36{bottom:435.282063pt;}
.y18{bottom:440.028603pt;}
.y4{bottom:445.421876pt;}
.y34{bottom:475.832127pt;}
.y17{bottom:503.945078pt;}
.y16{bottom:510.945110pt;}
.y35{bottom:537.951145pt;}
.y11{bottom:571.475913pt;}
.y10{bottom:574.861584pt;}
.yf{bottom:581.861577pt;}
.y2{bottom:606.027773pt;}
.y33{bottom:630.062381pt;}
.y7{bottom:639.281167pt;}
.yd{bottom:670.959771pt;}
.ye{bottom:675.739048pt;}
.y1{bottom:719.027768pt;}
.yc{bottom:751.358922pt;}
.y12{bottom:757.856099pt;}
.y13{bottom:767.284001pt;}
.y8{bottom:825.661352pt;}
.y9{bottom:835.089255pt;}
.y28{bottom:876.594424pt;}
.y27{bottom:880.484591pt;}
.y15{bottom:881.369661pt;}
.y31{bottom:887.060115pt;}
.y2f{bottom:887.151240pt;}
.y3{bottom:933.133335pt;}
.y26{bottom:973.097609pt;}
.y14{bottom:999.349474pt;}
.y25{bottom:1006.097609pt;}
.h11{height:39.076565pt;}
.he{height:49.214102pt;}
.h7{height:49.994297pt;}
.ha{height:51.960818pt;}
.h12{height:54.856608pt;}
.hf{height:59.102667pt;}
.h9{height:62.035092pt;}
.hc{height:64.403285pt;}
.h10{height:65.157331pt;}
.h4{height:72.605333pt;}
.h6{height:76.000000pt;}
.h14{height:82.255215pt;}
.h2{height:82.431563pt;}
.hb{height:84.581328pt;}
.h5{height:92.872000pt;}
.h16{height:118.354225pt;}
.h17{height:122.739814pt;}
.h3{height:125.957336pt;}
.h8{height:132.183715pt;}
.h15{height:179.005343pt;}
.h13{height:185.769338pt;}
.hd{height:202.666667pt;}
.h1{height:255.309331pt;}
.h18{height:359.986682pt;}
.h0{height:1080.000000pt;}
.w0{width:1920.000000pt;}
.x0{left:0.000000pt;}
.xb{left:88.100821pt;}
.xc{left:95.900803pt;}
.x17{left:216.531332pt;}
.x10{left:256.219400pt;}
.xf{left:289.370040pt;}
.x15{left:292.710147pt;}
.x1{left:296.783933pt;}
.x3{left:420.640587pt;}
.x11{left:479.086707pt;}
.xd{left:491.903746pt;}
.xe{left:501.773741pt;}
.x30{left:524.674388pt;}
.x4{left:549.902632pt;}
.x5{left:567.005919pt;}
.x6{left:602.405760pt;}
.x7{left:617.172240pt;}
.x8{left:649.290618pt;}
.x13{left:664.901973pt;}
.x9{left:666.393920pt;}
.x12{left:701.164547pt;}
.xa{left:800.435973pt;}
.x2c{left:804.317184pt;}
.x2d{left:813.998336pt;}
.x14{left:830.801920pt;}
.x16{left:832.960731pt;}
.x2{left:843.337153pt;}
.x18{left:858.190734pt;}
.x19{left:883.410736pt;}
.x1a{left:930.624507pt;}
.x2e{left:1069.230727pt;}
.x2f{left:1076.905654pt;}
.x31{left:1208.534013pt;}
.x20{left:1327.249917pt;}
.x2b{left:1392.849280pt;}
.x29{left:1409.873213pt;}
.x1b{left:1417.729977pt;}
.x1c{left:1427.411129pt;}
.x2a{left:1455.274573pt;}
.x21{left:1458.183800pt;}
.x22{left:1467.031029pt;}
.x23{left:1485.342736pt;}
.x24{left:1492.981194pt;}
.x25{left:1509.595467pt;}
.x26{left:1518.442696pt;}
.x1f{left:1579.499937pt;}
.x27{left:1587.780312pt;}
.x28{left:1595.418770pt;}
.x1d{left:1682.643520pt;}
.x1e{left:1690.318447pt;}
}
