@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Poppins', sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.apexcharts-tooltip .apexcharts-tooltip-title {
  color: #111 !important; /* warna teks bagian atas */
}

.apexcharts-tooltip-series-group .apexcharts-tooltip-text {
  color: #0ea5e9 !important; /* warna tulisan 'Laporan Masuk' */
}

